<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results</title>

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/resultsPage.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/AJAXresultsPage.js"></script>

      <!-- <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
      <title>MovideWar</title>
      <title id="poll-id"><%= templateVars %></title>
      <header class= 'pollTitle'>
        <h1>Poll Results </h1>
      </header>
  </head>
  <body>
    <div id="columns">
    </div>
    <button class ="submit" type="submit">Close Poll</button>
  </body>
</html>









