<!DOCTYPE html>
<html lang="en">
  <head>
      <title>MovideWar</title>
  </head>
  <body>
    <input type="text" id="fname" name="fname"><br><br>
    <label>points - Option 1</label>
    <input type="text" id="option1" name="option1"><br><br>
    <label>points - Option 2</label>
    <input type="text" id="option2" name="option2"><br><br>
    <label>points - Option 3</label>
    <input type="text" id="option3" name="option3"><br><br>
    <label>points - Option 4</label>
    <input type="text" id="option4" name="option4"><br><br>
    <label>points - Option 5</label>
    <input type="text" id="option5" name="option5"><br><br>
    <input type="submit" value="Submit">
  </body>
</html>
