.createPollBody {
  background-color: #373937;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

form {
  position: relative;

  margin: 10px 0 0px 40%;
}

label {
  color: rgb(185, 183, 183)
}

input {
  opacity: 30%;
}

button {
  position: relative;
  margin-left: 20px;
  width: 120px ;
  border-radius: 16px;
  margin-top: 20px;
  background-color: rgb(22, 22, 112);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  border: none;
  padding: 10px 10px 10px 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

#add-option {
  margin-left: 20px;
  cursor: pointer;
}
